{% extends 'main/base.html' %}

{% block title %}
Приватный раздел
{% endblock %}

{% block content %}

<h1>Приватный раздел</h1>

<p>Единственная часть тела, которая не имеет кровоснабжения, - роговица глаза. Кислород она получает непосредственно из воздуха.</p>
<p>Емкость мозга человека превышает 4 терабайта.<p>
<p>До 7 месяцев ребенок может дышать и глотать одновременно.<p>
<p>Ваш череп состоит из 29 различных костей.<p>
<p>При чихании все функции организма останавливаются, даже сердце.<p>
<p>Нервный импульс из мозга движется со скоростью 274 км/ч.<p>
<p>Один человеческий мозг генерирует больше электрических импульсов в течение одного дня, чем все телефоны мира, вместе взятые.<p>
<p>Среднее человеческое тело содержит достаточно серы, чтобы убить всех блох на средней собаке; углерода - чтобы изготовить 900 карандашей; калия - чтобы выстрелить из игрушечной пушки; жира - чтобы сделать 7 кусков мыла; и достаточно воды, чтобы заполнить бочку в 50 литров.<p>
<p>Сердце человека перекачивает 182 миллиона литров крови в своей жизни.<p>
<p>50000 клеток в вашем теле отмирают и заменяются на новые в то время, как вы читаете это предложение.<p>
<p>Зародыш приобретает отпечатки пальцев в возрасте от 3 месяцев.<p>
<p>Женские сердца бьются быстрее, чем мужские.<p>
<p>Человек по имени Чарльз Осборн икал в течение 68 лет.<p>
<p>Праворукие люди живут в среднем на 9 лет дольше, чем левши.<p>
<p>Примерно 2/3 людей наклоняют голову вправо, когда целуются.<p>
<p>Человек забывает 90% своих снов.<p>
<p>Общая длина кровеносных сосудов в организме человека - примерно 100000 километров.<p>
<p>Весной частота дыхания в среднем на 1/3 выше, чем осенью.<p>
<p>К концу жизни человек запоминает в среднем 150 триллионов бит информации.<p>
<p></p>80% тепла человеческого тела уходит из <p>
<p>Когда вы краснеете, ваш желудок краснеет тоже.<p>
<p>Чувство жажды появляется при потере воды, равной 1% от веса тела. Потеря более 5% может привести к обмороку, а более 10% - к смерти от иссушения.<p>
<p>В теле человека работает не менее 700 ферментов.<p>
<p>Люди - единственные существа, которые спят на спине.<p>
<p>В среднем 4-летний ребенок задает в день 450 вопросов.<p>
<p>Уникальные отпечатки пальцев имеют кроме людей еще и коалы.<p>
<p>Только 1% бактерий вызывает недуги у человека.<p>
<p>Всех людей на планете можно с комфортом уложить в куб со стороной 1000 метров.<p>
<p>Научное название пупка - умбиликус.<p>
<p>Зуб - единственная часть человеческого организма, которая не способна к самовосстановлению.<p>
<p>В среднем человеку необходимо 7 минут, чтобы заснуть.<p>
<p>Правша большую часть пищи пережевывает на правой стороне челюсти, левша - на левой.<p>
<p>В мире всего 7% левшей.<p>
<p>Аромат яблок и бананов помогает похудеть.<p>
<p>Длина волос на голове, отращиваемых человеком в среднем в течение жизни, - 725 километров.<p>
<p>Среди людей, которые могут двигать ушами, только 1/3 может двигать одним ухом.<p>
<p>Средний человек за всю свою жизнь проглатывает 8 маленьких пауков.<p>
<p>Общий вес бактерий, живущих в организме человека, составляет 2 килограмма.<p>
<p></p>99% всего кальция в организме находится в зубах.<p>
<p>Губы человека в сотни раз чувствительнее, чем кончики пальцев. Настоящий поцелуй увеличивает пульс до частоты 100 и более ударов в минуту.<p>
<p>Абсолютная сила жевательных мышц на одной стороне равна 195 килограммам.<p>
<p>Во время поцелуя от одного человека к другому передается 278 различных культур бактерий. К счастью, 95% из них не представляют опасности.<p>
<p>Партенофобия - это боязнь девственниц.</p>

{% endblock %}
>