table {
  table-layout: fixed;
  width: 100%;
}

thead{
font-weight: bold;
text-align: left;
}

thead td:nth-child(1) {
  width: 10%;
}

thead td:nth-child(2) {
  width: 30%;
}

thead td:nth-child(3) {
  width: 20%;
}

thead td:nth-child(4) {
  width: 20%;
}

thead td:nth-child(5) {
  width: 15%;
}


tbody tr{
text-align: left;
}

th, td {
  padding: 10px;
}

form{
width: 500px;
margin-top: 50px;
}

.form-error{
color: red;
}

.form-error li{
list-style-type: none;
}

.form-error ul{
padding-left: 0;
}

img.photo{
display: inline-block;
border-radius: 50%;
overflow: hidden;
width: 60px;
height: 60px;
object-fit: cover;
}

